body{
    margin: 0 auto;
  }
  *{
    margin: 0;
    padding: 0;
  }
  
  p{
    max-width:720px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing:border-box;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }
  
  #container{
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .modalList{
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    margin: 20px auto;
    /* padding: 0 calc(2% + 8px) 0 2%; */
    box-sizing: border-box;
}
    
    .modal_btn{
      border-radius: 15px;
      cursor: pointer;
    }
      
      figcaption{
        display: none;
      }
      
      &:nth-of-type(n+3){
        margin-right: 0;
      }
      
      img{
        border: 3px solid #fff;
        box-shadow: 8px 6px 10px rgb(0 0 0 / 30%);
        border-radius: 15px;
        box-sizing: border-box;
      }
      #explore_more_btn{
        transition: all .3s ease-in-out;
      }
      #explore_more_btn:hover{
        transform: scale(1.05);
        color:brown;
      }
  
  /* --------------------------
  
    Modal
  
   --------------------------*/
  
  .modal_close_btn{
      display: block;
      width: 60px;
      height: 60px;
      margin: 0;
      border: none;
      background: rgba(255,255,255,.95);
      border-radius: 999px;
      color: #333;
      letter-spacing: .05em;
      cursor: pointer;
      position: absolute;
      top: -30px;
      right: -30px;
      z-index: 1000;
  }
  
  @media screen and (max-width:660px){
    .modal_close_btn{
      top: -15px;
      right: -5px;
      width: 40px;
      height: 40px;
    }
  }
  
  .modal_close_btn::before{
    content: '×';
    font-size: 24px;
  }
  .modal_popup{
    position: fixed;
  }
  .modal_Area_wrap{
    position: fixed;
    z-index: 998;
    inset: 0;
    background: rgba(0,0,0,.8);
    opacity: 0;
    visibility:hidden;
  }
  .modal_Area{
    max-width:640px;
    width: 100%;
    height: 70%;
    padding: 30px 0 16px;
    border-radius:10px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -40%;
    z-index: 9999;
    background: #ddd;
    box-sizing:border-box;
    text-align: center;
  }
  
  .modal_scroll_area{
    width: 90%;
    height: 90%;
    max-height: 640px;
    overflow-y: auto;
    scrollbar-width: none;
    margin: 0 auto;
  }
  
  .modal_scroll_area img{
    max-width :500px;
  }
  
  @media screen and (max-width: 480px){
    .modal_scroll_area img{
      max-width : 100%;
    }
  }
  
  .modal_Area .modal_caption{
    max-width: 420px;
    padding: 20px 0;
  }